%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "/"}
          Soundcrowd
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span menu
  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li
          = link_to 'Logout', signout_path
      - else
        %li
          = link_to 'Login', signin_path
      /- if user_signed_in?
      /  - if current_user.has_role? :admin
      /    %li
      /      = link_to 'Admin', users_path

